<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        img{
            width: 500px;
        }
    </style>
    <script src="/js/echo.main.js"></script>

    <script>
        echo.init({
            offset: 0,//离可视区域多少像素的图片可以被加载
            throttle: 0 //图片延时多少毫秒加载
        });
    </script>
</head>
<body>
<#if error??>
    <div><font color="red">${error}</font></div>
<#else>
        <#list ims as im>
            <div>
                <img src="/images/timg.gif" data-echo="${im.thumb}">
                <p>${im.title}</p>
                <a href="/cangku/item/${im.id}">click</a>
            </div>
        </#list>
</#if>
</body>
</html>